bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
*.dll
*.exe
*.pdb

*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

.idea/
*.sln.iml
*.DotSettings.user

.vs/
*.user
*.suo
*.userprefs


*.mdf
*.ldf
*.db
*.db-shm
*.db-wal


*.log
.DS_Store
Thumbs.db